.ordered-list {
  counter-reset: item;
}

.ordered-list > li {
  list-style-type: none;
  counter-increment: item;
  position: relative;
  margin-bottom: 10px;
}

.ordered-list > li::before {
  content: counter(item) ". ";
  position: absolute;
  left: -2em;
}

.nested-list {
  counter-reset: subitem;
  margin-left: 2em;
  padding-inline-start: 10px;
}

.nested-list > li {
  list-style-type: none;
  counter-increment: subitem;
  position: relative;
  margin-bottom: 5px;
}

.nested-list > li::before {
  content: counter(item) "." counter(subitem) " ";
  position: absolute;
  left: -4em;
}
